version: '2'

services:
    web:
        image: kinginsun/perl-fcgi:latest
        ports:
            - "8118:80"
        volumes:
            - ./code:/code
            - ./conf/site.conf:/etc/nginx/conf.d/default.conf
            - ./logs:/var/log/nginx
            - "phpsocket:/var/run/php-fpm"
        networks:
            - code-network
    php:
        image: php:fpm
        volumes:
            - ./code:/code
            - ./conf/php-fpm/php-fpm.conf:/usr/local/etc/php-fpm.conf
            - ./conf/php-fpm/www.conf:/usr/local/etc/php-fpm.d/www.conf
            - ./conf/php-fpm/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
            - "phpsocket:/var/run/php-fpm"
        networks:
            - code-network

networks:
    code-network:
        driver: bridge

volumes:
    phpsocket:
